#root {
  /* width:100vw; */
  /* height:100vh; */
  /* margin: 0; */
  /* border: none; */
}

body {
  padding: 0;
  margin: 0;
  /* border: 2px solid red; */
}

.editor{
  /* border:2px solid red; */
  height: 300px;
}